body {
  background-color: rgba(198, 231, 240, 0.5);
  font-family: "Chakra Petch", "Gugi", "Electrolize", "Black Ops One",
    sans-serif;
}
h1 {
  color: rgb(112, 112, 112, 0.9);
  font-size: 50px;
  text-align: center;
  border: 4px solid rgba(43, 123, 173, 0.7);
  border-radius: 15px;
  background-color: transparent;
  margin: 25px 445px;
  margin-bottom: 1px;
  padding: 10px;
  font-weight: bold;
}
h2 {
  font-size: 35px;
  font-weight: bold;
  color: rgb(112, 112, 112, 0.9);
}
img {
  background: transparent;
  margin: 0 auto;
  display: block;
  border-radius: 15px;
}
form {
  position: relative;
  top: -260px;
  left: 250px;
}
input {
  position: relative;
  top: -25px;
  left: 0px;
  color: rgb(112, 112, 112, 0.9);
  font-size: 25px;
  border-radius: 10px;
  border: 4px solid rgba(43, 123, 173, 0.7);
  background-color: rgba(198, 231, 240, 0.5);
}
button {
  position: relative;
  top: -200px;
  left: 247px;
  color: rgb(112, 112, 112, 0.9);
  font-size: 25px;
  border-radius: 10px;
  border: 4px solid rgba(43, 123, 173, 0.7);
  background-color: rgba(198, 231, 240, 0.5);
}
a {
  text-decoration: none;
}
.search-button,
.current-button {
  font-weight: bold;
}
.actual-icon {
  display: inline-block;
  position: relative;
  top: -15px;
  left: -10px;
  color: rgb(112, 112, 112, 0.9);
  font-size: 30px;
}
.actual-temperature {
  position: relative;
  top: -5px;
  left: -10px;
  font-size: 50px;
  color: rgb(112, 112, 112, 0.9);
  font-weight: bold;
}
.grads {
  position: relative;
  top: -30px;
  left: -10px;
  font-size: 35px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(112, 112, 112, 0.9);
}
.actual-day-time-wx {
  color: rgb(112, 112, 112, 0.9);
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 15px;
  text-transform: capitalize;
}
.humidity-wind {
  position: relative;
  font-size: 15px;
  top: -420px;
  left: 480px;
  border-radius: 10px;
  border: 4px solid rgba(43, 123, 173, 0.7);
  color: rgb(112, 112, 112, 0.9);
  padding: 5px 5px;
  margin-right: 1160px;
}
.actual-weather{
  position: relative;
  top: -283px;
  left: 250px;
  border: 4px solid rgba(43, 123, 173, 0.7);
  border-radius: 15px;
  background-color: rgba(198, 231, 240, 0.5);
  margin-right: 906px;
  padding-left: 10px;
  padding-top: 5px;
}
.forecast-box {
  position: relative;
  top: -510px;
  left: 643px;
  margin-right: 800px;
  padding: 10px;
  bottom: 250px;
  border: 4px solid rgba(43, 123, 173, 0.7);
  border-radius: 15px;
  background-color: rgba(198, 231, 240, 0.5);
  color: rgb(112, 112, 112, 0.9);
  font-weight: bold;
  text-align: center;
}
.min-temp {
  font-weight: lighter;
}
.open-source {
  text-underline-offset: unset;
  font-weight: lighter;
  text-decoration: none;
}
.info {
  color: rgb(112, 112, 112, 0.9);
  text-align: center;
  position: relative;
  top: -480px;
}
.forecast-icon {
  text-align: center;
  margin-top: 10px;
}
.forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
